@model List<IdentityDemo.Models.Employee>

@{

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Employee Details</h2>

<form class="form-inline" action="/Employee/getEmpData">
    <input type="text" class="form-control " id="search" name="search" placeholder="Search..." value="@ViewBag.Search"/>
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.EmpId</td>
                <td>@e.EmpName</td>
                <td>@e.DeptId</td>
            </tr>
        }
    </tbody>

    <tr>
        <td colspan="9">
            @{ 
                int PrevPageNo = ViewBag.pageno - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }
                int NextPageNo = ViewBag.pageno + 1;
                if (NextPageNo>ViewBag.noofpages)
                {
                    NextPageNo = ViewBag.noofpages;
                }
            }

            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/Employee/getEmpData?PageNo=@PrevPageNo">Prev</a>
                </li>

                @for (int i = 0; i < ViewBag.noofpages; i++)
                {
                    if (ViewBag.pageno == (i + 1))
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Employee/getEmpData?PageNo=@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Employee/getEmpData?PageNo=@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Employee/getEmpData?PageNo=@NextPageNo">Next</a>
                </li>
            </ul>

        </td>
    </tr>

</table>


