@model List<RestaurantMenuAssignment.Models.Restaurant>

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h3 style="text-align:center; margin-top:5px; color:white">Restaurants Details</h3>

<a class="btn btn-success" href="/Restaurant/CreateRestaurant">Create Restaurant</a>
<table class="table mt-2">
    <thead class="thead-dark; text-center">
        <tr style="background-color:silver">
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Restaurant_Id&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration:none;color:inherit">Id</a>
                    if (ViewBag.sortcolumn == "Restaurant_Id")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Restaurant_Id&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Id</a>
                    if (ViewBag.sortcolumn == "Restaurant_Id")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }

            </th>
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Restaurant_Name&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Name</a>
                    if (ViewBag.sortcolumn == "Restaurant_Name")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Restaurant_Name&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Name</a>
                    if (ViewBag.sortcolumn == "Restaurant_Name")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }                
            </th>
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Address&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Address</a>
                    if (ViewBag.sortcolumn == "Address")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Address&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Address</a>
                    if (ViewBag.sortcolumn == "Address")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
            </th>
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=City&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">City</a>
                    if (ViewBag.sortcolumn == "City")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=City&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">City</a>
                    if (ViewBag.sortcolumn == "City")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
            </th>
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Mobile&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Mobile</a>
                    if (ViewBag.sortcolumn == "Mobile")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Mobile&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Mobile</a>
                    if (ViewBag.sortcolumn == "Mobile")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
            </th>
            <th scope="col">
                @if (ViewBag.iconclass == "fa-sort-desc")
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Menu_Id&IconClass=fa-sort-asc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Famous Menu</a>
                    if (ViewBag.sortcolumn == "Menu_Id")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
                else
                {
                    <a href="/Restaurant/getRestaurantData?SortColumn=Menu_Id&IconClass=fa-sort-desc&PageNo=@ViewBag.pageno" style="text-decoration: none; color: inherit">Famous Menu</a>
                    if (ViewBag.sortcolumn == "Menu_Id")
                    {
                        <i class="fa @ViewBag.iconclass"></i>
                    }
                }
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var rlist in Model)
        {
        <tr id="row_@rlist.Restaurant_Id" style="color:white;background-color: aliceblue; background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);">
            <td>@rlist.Restaurant_Id</td>
            <td>@rlist.Restaurant_Name</td>
            <td>@rlist.Address</td>
            <td>@rlist.City</td>
            <td>@rlist.Mobile</td>
            <td>
                @if (rlist.Menu != null)
                {
                    @rlist.Menu.Menu_Name
                }
            </td>
            <td>
                <a class="btn btn-secondary" href="/Restaurant/DetailsOfRestaurant/@rlist.Restaurant_Id">Details</a>
                <a class="btn btn-success" href="/Restaurant/UpdateRestaurant/@rlist.Restaurant_Id">Update</a>
                @*<a class="btn btn-danger" href="/Restaurant/DeleteRestaurant/@rlist.Restaurant_Id">Delete</a>*@
                <a class="btn btn-danger" href="#" onclick="ConfirmDelete(@rlist.Restaurant_Id)">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*Delete*@

<input type="hidden" id="hiddenRestaurant_Id" />

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Restaurant</h3>
            </div>
            <div class="modal-body">
                <h6">Are you sure ? You want to Delete Restaurant</h6>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" onclick="cancel()" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="Delete()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<script>

    var ConfirmDelete = function (Restaurant_Id) {

        $("#hiddenRestaurant_Id").val(Restaurant_Id);
        $("#myModal").modal('show');

    }

    var Delete = function () {

        $("#loaderDiv").show();

        var Restaurant_Id = $("#hiddenRestaurant_Id").val();

        $.ajax({

            type: "POST",
            url: "/Restaurant/DeleteRestaurant",
            data: { restaurantid: Restaurant_Id },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + Restaurant_Id).remove();

            }

        })

    }
    var cancel = function () {
        $("#myModal").modal("hide");
    }

</script>

@*Pagination*@


    @{
        int PrevPageNo = ViewBag.pageno - 1;
        if (PrevPageNo <= 0)
        {
            PrevPageNo = 1;
        }
        int NextPageNo = ViewBag.pageno + 1;
        if (NextPageNo > ViewBag.noofpages)
        {
            NextPageNo = ViewBag.noofpages;
        }
    }

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/Restaurant/getRestaurantData?PageNo=@PrevPageNo">Prev</a>
        </li>

        @for (int i = 0; i < ViewBag.noofpages; i++)
        {
            if (ViewBag.pageno == (i + 1))
            {
                <li class="page-item active">
                    <a class="page-link" href="/Restaurant/getRestaurantData?PageNo=@(i + 1)">@(i + 1)</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Restaurant/getRestaurantData?PageNo=@(i + 1)">@(i + 1)</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" href="/Restaurant/getRestaurantData?PageNo=@NextPageNo">Next</a>
        </li>
    </ul>